.eventContainer {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  margin-bottom: 0;
}

.eventRow {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.eventRow::-webkit-scrollbar {
  display: none;
}

.eventsCard,
.eventCardInfo {
  flex: 0 0 auto;
  margin: 0 10px;
  padding: 20px;
  scroll-snap-align: start;
}

.eventsCard {
  position: relative;
  width: 200px;
  height: 300px; 
  transition: transform 0.3s ease; 
}

.eventCardInfo {
  position: absolute;
  bottom: 10%;
  left: -2%;
  width: 80%;
  transition: transform 0.3s ease; 
}

.eventsCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  filter: brightness(80%);
  transition: filter 0.3s ease; 
}

.eventsCard:hover img {
  filter: brightness(100%); 
}

.eventsCard:hover .eventCardInfo {
  transform: translateY(-10px); 
}

.eventContent {
  margin-top: 10px;
}

.eventCardInfo h2 {
  margin-bottom: 5px;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
  color: azure;
  font-size: 18.5px;
}

.eventCardInfo p {
  margin: 0;
  color: azure;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Nunito Sans', sans-serif;
}


.thingsSquare {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; 
  margin: 5% 20%;
}


.thingsToDo h1{
  font-size: 38px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Roboto Mono", monospace;
  color: black;
  text-align: center;
  margin-top: 10%;
  letter-spacing: -1px;
}


.thingsCard {
  position: relative;
  width: 350px;
  height: 300px;
  margin-bottom: 30px; 
}

.thingsCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  filter: brightness(80%);
  transition: filter 0.3s ease; 
}

.thingsContent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thingsContent h2 {
  color: white; 
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  text-align: center;
  transition: transform 0.3s ease;
  margin: 0;
}

.thingsCard:hover img {
  filter: brightness(100%); 
}

.thingsCard:hover .thingsContent h2 {
  transform: scale(1.1); 
}