.Hamburger {
  background-color: rgb(255, 255, 255, 0);
}

.List {
  background-color: rgb(255, 255, 255, 0);
  display: flex;
}

.buttons {
 text-align: center;
 background-color: burlywood;
 padding: 2%;
 position:sticky;
}

/* .checkInBtn {
  padding: 20%;
} */

.form {
  display: flex;
}

.hamburgerbutton {
  background-color: white;
}
