.eventContainer {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    /* padding:0 20%; */
    margin-bottom: 10%;
    margin-top: 6%;
  }
  .eventContainer h1, .eventContainer h2{
    /* font-family: "Edu AU VIC WA NT Hand", cursive; */
    text-transform: uppercase;
    font-weight: 100;
    /* font-family: "Roboto Mono", monospace; */
    /* font-family: "Playwrite AU NSW", cursive; */
    font-family: "Outfit", sans-serif;

    color: black;
    text-align: center;
    margin-bottom: 3%;
    letter-spacing: -1px;
    
  }
  .eventContainer h2{
    margin-bottom: 1%;
    text-transform: none;
   
  }
  .eventContainer h1{
    font-size: 38px;
  }
  
   
  .eventRow {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
   
  .eventRow::-webkit-scrollbar {
    display: none;
  }
    /* width: 70%; */
 
